body {
    padding: 0;
    margin: 0;
    --dgreen: #898f63;
    --green: #22422b;
    --white: #fff;
    --brow: #7b6f68;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    /* font-family: 'Rubik', sans-serif; */
}

.success {
    background-color: #22422b !important;
}
.failed {
    background-color: tomato !important;
}


nav {
    height: unset !important;
    background-color: unset !important;
}

header {
    position: fixed;
    margin: 30px;
    z-index: 999;
    .button {
        background-image: url(/assets/icons/menu.svg);
        width: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 30px;
        cursor: pointer; 
    }
}

main {
    width: 100%;
    flex-direction: column;
    display: flex;
}
.slide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 70px;
    filter: brightness(0);
    margin: auto;
}
.logo-link {
    a {
        display: flex !important;
        height: auto !important;
        margin-top: 32px;
    }
}

.dgreeb {
    background-color: var(--dgreen);
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    font-size: 3.05rem;
}
h2 {
    font-size: 2.44rem;
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
    font-size: 2rem;
}
h4 {
    text-transform: uppercase;
    font-size: 1.56rem;
}

.btn {
    font-size: 1.26rem;
    padding: 20px 60px;
    letter-spacing: 0.03em;
    border-radius: 10px;
    display: block;
    border: 0;
    outline: none;
    width: fit-content;
    transition: all .3s linear;
    cursor: pointer;
    color: black;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.btn.white { 
    color: black !important;
}
.btn:hover {
    transform: translateY(5px);
}

.white {
    background-color: var(--white);
}
.dgreen {
    background-color: var(--dgreen) !important;
}
.dgreen:focus, .dgreen:hover {
    background-color: var(--green) !important;

}
footer {
    width: 100%;
    display: grid !important;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    background-image: url(/assets/imgs/contacts-bg.png);
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    nav {
        box-shadow: unset !important;
    }
    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;

        li {
            list-style: none;
            margin-bottom: 40px;
            a {
                color: var(--white);
                font-size: 1.5rem;
                text-decoration-line: none;
                img {
                    width: 1.5rem;
                    margin-right: 15px;
                }
            }
            a:hover { 
                text-decoration-line: underline;
            background-color: unset !important;

            }
        }
       
        li:last-child { 
            margin-top: 50px;
            a {
                display: flex;
                align-items: center;
            }
        }
    }
    .input-field {  
        color: var(--white);
        display: flex;
        padding: 8px;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--white);
        label {
            position: static;
            font-size: 1rem;
            min-width:100px;
            display: block;
            transform: none !important;
            color: var(--white);
        }
        input {
            outline: none !important;
            background-color: transparent;
            border: 0 !important;
            font-size: 1.1rem;
            margin-left: 10px;
            box-shadow: none !important;
            color: var(--white);
        }
        input::placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    form {
        z-index: 1;
    }
    .socials {
        padding: 40px;
        box-sizing: border-box;
        display: grid;
        justify-items: center;;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        a {
            display: block;
            width: 40px;
            height: 40px;
        }
        img {
            width: 100%;
        }
    }
}

@media (max-width: 1280px) {
    .container {
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
}
@media (max-width: 1024px) {
    body {
        font-size: 16px !important;
    }
    h2 {
        font-size: 2.44rem !important;
        text-transform: uppercase;
    }
    h3 {
        text-transform: uppercase;
        font-size: 2rem !important;
    }
    h4 {
        text-transform: uppercase;
        font-size: 1.56rem !important;
    }
}
@media (max-width: 840px) {
    footer {
        .container {
            display: block;
            position: relative;
        }
        form {
            top: 210px;
            position: absolute;
        }
        .socials {
            width: 100%;
        }
        nav {
            position: relative;
            left: 50%;
            width: 50%;
        }
    }
    footer nav ul li {
        margin-bottom: 15px;
        a {
            font-size: 1.2rem;
        }
    }
    footer nav ul li:last-child {
        margin-top: 215px;
    }
}

@media (max-width: 480px) {
    footer nav ul li:last-child {
        margin-top: 230px;
    }
    footer nav {
        left: unset;
        right: 0;
        width: 100%;
        margin-right: 0;
        margin-left: auto;
        max-width: 350px;
    }
    footer form {
        width: calc(100% - 30px);
    }
}