<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= config.pageTitle %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/assets/icons/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/dist/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/dist/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,500;1,900&family=Rubik:wght@900&display=swap" rel="stylesheet"> 
</head>
<body>
    
    <header>
        <div data-target="slide-out" class="sidenav-trigger button"></div>
        <nav >
            <ul id="slide-out" class="sidenav">
                <li class="logo-link"><a href="/">
                    <img class="logo" src="/assets/icons/logo.png" alt="logo">
                </a></li>
                <li><a class="waves-effect" href="/#services">Наши услуги</a></li>
                <li><a class="waves-effect" href="/works">Наши работы</a></li>
                <li><a class="waves-effect" href="/#purpose">Наша задача</a></li>
              </ul>
        </nav>
    </header>